<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= myPageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <body>
        <%- include('./partials/head') %>
            <main>
                <h1>Movie Detail</h1>
                <section id="movie_detail">
                    <h1>
                        <%= movieFound.title %>
                    </h1>
                    <h3>
                        <%= movieFound.year %> | <%= movieFound.director %>
                    </h3>
                    <a href="/">Add to Favorites</a>
                    <a href="/">Edit Movie</a>
                    <article>
                        <figure>
                            <img src=<%=movieFound.movieposter %> alt="img">
                            <figcaption>
                                <p>Rating: <%= movieFound.rate %>
                                </p>
                                <p>
                                    Duration: <%= movieFound.duration %>
                                </p>
                            </figcaption>
                        </figure>
                        <div>
                            <p>
                                <% movieFound.genre.forEach(ele=> { %>
                                    <span>
                                        <%= ele %>
                                    </span>
                                    <% }) %>
                            </p>
                            <h1>Story</h1>
                            <p>
                                <%= movieFound.description %>
                            </p>
                        </div>
                    </article>
                </section>

            </main>
            <%- include('./partials/foot') %>
    </body>
</body>

</html>